# Data Loading, Storage, and File Formats

In [1]:
import numpy as np
import pandas as pd

## 6.1 Reading and Writing Data in Text Format

In [31]:
# Reference the provided example
# Copied files over to Examples folder
# No need to make the csv file
!type examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [32]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [33]:
!type examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [34]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [35]:
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [27]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [30]:
!type examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [36]:
parsed = pd.read_csv('examples/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [37]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [38]:
result = pd.read_csv('examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [39]:
!type examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [40]:
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
!type C:\Users\Productivity\Desktop\Coding\Python_Data_Analysis\pydata-book-2nd-edition-code-examples\examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [41]:
result = pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [21]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [42]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [44]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### 6.1.1 Reading Text Files in Pieces

In [2]:
pd.options.display.max_rows = 10

In [45]:
result = pd.read_csv('examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [46]:
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [47]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

### 6.1.2 Writing Data to Text Format

In [50]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [51]:
data.to_csv('examples/out.csv')

In [52]:
!type examples\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [11]:
import sys

In [12]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [14]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [13]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [15]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [53]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('examples/tseries.csv')

In [54]:
!type examples\tseries.csv

,0
2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

### 6.1.3 Working with Delimited Formats

In [61]:
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [65]:
import csv
f = open('examples/ex7.csv')
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [63]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))
header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [67]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(f, dialect=my_dialect)
reader = csv.reader(f, delimiter='|')

In [69]:
with open('examples/mydata.csv' ,'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

### 6.1.4 JSON Data

In [98]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
            {"name": "Katie", "age": 38,
            "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [77]:
import json

In [100]:
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [102]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [103]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [105]:
!type Examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [106]:
data = pd.read_json('Examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [107]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [108]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### 6.1.5 XML and HTML: Web Scraping

In [3]:
tables = pd.read_html('Examples/fdic_failed_bank_list.html')

In [4]:
len(tables)

1

In [6]:
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [7]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

#### 6.1.5.1 Parsing XML with lxml.objectify

In [8]:
from lxml import objectify

path = 'Datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [9]:
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ'
                'DESIRED_CHANGE', 'DECIMAL_PLACES']
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [10]:
perf = pd.DataFrame(data)
perf.head()

,INDICATOR_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,U,%,95,96.9,95,96.9
1,28445,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,U,%,95,96,95,95
2,28445,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,U,%,95,96.3,95,96.9
3,28445,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,U,%,95,96.8,95,98.3
4,28445,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,U,%,95,96.6,95,95.8

In [11]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [12]:
root

In [14]:
root.get('href')

'http://www.google.com'

In [15]:
root.text

'Google'

## 6.2 Binary Data Formats

In [2]:
frame = pd.read_csv('Examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
frame.to_pickle('Examples/frame_pickle')

In [4]:
pd.read_pickle('Examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### 6.2.1 Using HDF5 Format

Error using .HDFStore() because I'm missing tables/Pytables library. And that library doesn't have wheels for Python 3.9 yet.

In [10]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

ImportError: Missing optional dependency 'tables'.  Use pip or conda to install tables.

In [8]:
store['obj1']

UsageError: Unknown variable '['obj1']'

In [12]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])

NameError: name 'store' is not defined

In [13]:
store.close()

NameError: name 'store' is not defined

In [15]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

ImportError: Missing optional dependency 'tables'.  Use pip or conda to install tables.

### 6.2.2 Reading Microsoft Excel Files

Must pip install xlrd and openpyxl packages.

In [17]:
xlsx = pd.ExcelFile('Examples/ex1.xlsx')

In [18]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [19]:
frame = pd.read_excel('Examples/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [21]:
writer = pd.ExcelWriter('Examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [22]:
frame.to_excel('Examples/ex2.xlsx')

## 6.3 Interacting with Web APIs

In [23]:
import requests

In [25]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [27]:
data = resp.json()
data[0]['title']

'BUG: values are dropped when grouping on a variables with NaNs'

In [31]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                    'labels', 'state'])
issues

,number,title,labels,state
0,38227,BUG: values are dropped when grouping on a var...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,38226,Rewrite dict literal for files in pandas/tests...,[],open
2,38225,ENH: context-manager for TextFileReader,"[{'id': 47229171, 'node_id': 'MDU6TGFiZWw0NzIy...",open
3,38224,API: bool(pd.NA),"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
4,38223,TST: tighten testing assertions,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
5,38222,API: make tm.assert_foo_equal kwargs keyword-o...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
6,38221,BUG: Pip 20.3 is causing Linux py38 np dev pip...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,38220,BUG: DataFrame.drop raising TypeError for stri...,"[{'id': 71268330, 'node_id': 'MDU6TGFiZWw3MTI2...",open
8,38219,Update Dockerfile to use conda-forge compilers,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
9,38217,"API: Groupby.idxmax drops nuisance columns, Da...","[{'id': 1741841389, 'node_id': 'MDU6TGFiZWwxNz...",open
10,38216,Corrected the grammar in Exception,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
11,38215,TST: add cases for nearest_workday and before_...,"[{'id': 53181044, 'node_id': 'MDU6TGFiZWw1MzE4...",open
12,38214,TST: test_is_list_like_recursion segfaults som...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
13,38213,dict rewritten as literal for files in directo...,"[{'id': 106935113, 'node_id': 'MDU6TGFiZWwxMDY...",open
14,38204,Retain views with listlike indexers setitem,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
15,38202,PERF: fix assert_frame_equal can be very slow,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
16,38200,TYP: @final in groupby,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
17,38197,BUG: name attr in RangeIndex.intersection,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
18,38195,BUG: DataFrame.idxmin/idxmax with mixed dtypes,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
19,38187,"BUG: groupby.rank for dt64tz, period dtypes","[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
20,38183,BUG: assert_frame_equal can be very slow,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
21,38182,BUG/DEPR: Fix unwanted warnings from the Serie...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
22,38179,PERF: Introducing hash tables for complex64 an...,"[{'id': 172091424, 'node_id': 'MDU6TGFiZWwxNzI...",open
23,38176,The error message for unsupported index on shi...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
24,38175,ENH: support nanoseconds in Period constructor,"[{'id': 60635328, 'node_id': 'MDU6TGFiZWw2MDYz...",open
25,38174,REF/CLN: DataFrame.combine_first,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,38173,BUG: array-like quantile fails on column groupby,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,38164,REF: avoid try/except in wrapping in cython_ag...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
28,38163,DOC: Add examples for filling missing data,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
29,38157,BUG: assert_frame_equal exception for datetime...,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open

## 6.4 Interacting with Databases

In [2]:
import sqlite3

In [20]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL,         d INTEGER
);"""
con = sqlite3.connect('Examples/mydata.sqlite')
con.execute(query)

In [22]:
con.commit()

In [23]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)

In [24]:
con.commit()

In [25]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [26]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [27]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [28]:
import sqlalchemy as sqla

In [29]:
db = sqla.create_engine('sqlite:///Examples/mydata.sqlite')

In [30]:
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

## 6.5 Conclusion